<div id="menu">

<% @relatorios.each_with_index do |relatorio, i| %>
  <a id="relatorio<%= i %>" href="#">
    <%= relatorio.arquivo.original_filename %> <%= image_tag relatorio.arquivo.url(:pdf_thumbnail) %>
  </a>
<% end %>

  <%= render 'form' %>

</div>

  <iframe id="objecttag" type="application/pdf">
    <p>It appears you don't have a PDF plugin for this browser.
      No biggie... you can <a href="myfile.pdf">click here to
        download the PDF file.</a></p>
  </iframe>

<script type="text/javascript">
<% @relatorios.each_with_index do |relatorio,i| %>
    $("#relatorio<%= i %>").click(function(){
      var object = document.getElementById("objecttag");
      object.setAttribute("src", "<%= relatorio.arquivo.url %>");
    });
<% end %>
</script>